body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 20rem;
  background-color: #654d7a;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
}
