* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 10px black;
  padding: 15px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

#dvalue {
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid black;
}
